.row div {
    border: 1px solid black;
}
#a {
    background-color: #F6E8DF;
}
#b {
    background-color: #E9C5AF;
}
#c {
    background-color: #DCA37F;
}
#d {
    background-color: #CF804F;
}
#e {
    background-color: #B06130;
}
#f {
    background-color: #804723;
}